@import "tailwindcss";

:root {
  @import "https://www.nerdfonts.com/assets/css/webfont.css";
 
  --bg-main: #2d353b;
  --bg-panel: #2f383e;
  --bg-hover: #20262a;

  --border: #888373;
  --border-active: #79a8a2;

  --hover-muted: #888373;

  --accent: #a4bd7e;
  --accent-soft: #98af78;
  --accent-muted: #7f8f6a;
  
  --text-main: #c7baa1;
  --text-secondary: #b8c0a0;

  --text-accent-green: #a4bd7e;
  --text-accent-purple: #a47497;
  --text-accent-blue: #4a7773;
  --text-accent-tosca: #7b9f8a;
  --text-accent-yellow: #cbb68b;
  --text-accent-red: #ca7777;
  --text-muted: #666960;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-color: var(--bg-main);

}

.body-cmd {
  margin-top: 20px;
  margin-left: 30px;
}   