---
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import MobileNav from "../components/MobileNav.astro";
---

<MainLayout title="Blog | Harindra Wahyu" , description="This is blog page" />
<main>
  <h1 class="items-center text-(--hover-muted) font-bold">Ini Blog</h1>
</main>
