---
import Navbar from "../components/Navbar.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Floor from "../components/Floor.astro";
import TerminalPanel from "../components/TerminalPanel.astro";
import HeadCmd from "../components/HeadCmd.jsx";
---

<MainLayout title="Harindra Wahyu" , description="This is home page">
  <Floor class="absolute inset-0 z-0" />
  <Navbar />
  <main class="relative justify-content-center pt-20 px-20">
    <TerminalPanel>
      <HeadCmd client:load />
      <div class="body-cmd">
        <h1 class="font-bold text-(--text-main) text-6xl sm:text-4xl">
          Harindra Wahyu
        </h1>
        <p class="text-lg text-(--text-accent-purple)">
          Full Stack Web Developer.
        </p>
      </div>
    </TerminalPanel>
  </main>
</MainLayout>
