---
// import { Navbar } from "../components/Navbar";
import Navbar from "../components/Navbar.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
import EverforestBg from "../assets/foggy_valley_2.png";

const backgroundUrl = `url(${EverforestBg.src})`;
---

<MainLayout title="Harindra Wahyu" , description="This is home page">
  <!-- <Navbar client:load /> -->
  <Navbar client:load />
  <section class="relative h-screen text-white flex flex-col pt-16">
    <div
      style={`background-image: ${backgroundUrl};`}
      class="flex-grow flex flex-col items-center justify-center text-center px-4">
      <!-- Greeting -->
      <div class="text-center mb-2">
        <span
          id="typed"
          class="text-gray-400 text-2xl sm:text-xl md:text-2xl mb-4">
        </span>
      </div>

      <!-- Nama -->
      <h1 class="flex text-center font-bold text-white text-3xl sm:text-5xl">
        <span class="flex sm:text-5xl font-light text-gray-300 pr-3">
          I'm
        </span>
        Harindra Wahyu
      </h1>

      <!-- Subtitle -->
      <p class="flex mt-2 text-center text-lg text-[#a0a0a0]">
        Full Stack Web Developer.
      </p>

      <!-- Button -->
      <div class="flex justify-center mt-6">
        <a
          href="/project"
          class="rounded-xl py-2 px-5 text-m text-black bg-white hover:text-[#b8b8b8] transition duration-300"
          >Discover</a
        >
      </div>
    </div>
  </section>

  <script>
    import Typed from "typed.js";

    new Typed("#typed", {
      strings: ["Assalamu'alaiakum,", "Hola,", "Hello,", "こんにちは,"],
      typeSpeed: 30,
      backSpeed: 50,
      loop: true,
    });
  </script>
  <Footer />
</MainLayout>
