---
// import { Navbar } from "../components/Navbar";
import Navbar from "../components/Navbar.astro";
import MainLayout from "../layouts/MainLayout.astro";
import TerminalPanel from "../components/TerminalPanel.astro";
import Floor from "../components/Floor.astro";
---

<MainLayout title="Harindra Wahyu" , description="This is home page">
  <Navbar />
  <Floor />
  <section class="relative h-screen text-white flex flex-col">
    <div class="relative flex z-10 items-center justify-center">
      <TerminalPanel />
    </div>
  </section>
</MainLayout>
