---
import Navbar from "../components/Navbar.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Floor from "../components/Floor.astro";
import TerminalPanel from "../components/TerminalPanel.astro";
import HeadCmd from "../components/HeadCmd.jsx";
---

<MainLayout title="Harindra Wahyu" , description="This is home page">
  <Floor />
  <Navbar />
  <TerminalPanel>
    <HeadCmd client:load />
    <div class="body-cmd gap-2">
      <pre
        class="penguin-ascii">
     <span style="color: white;">•</span><span style="color: black;">_</span><span style="color: white;">•</span>
     <span style="background-color: yellow; color: black;">oo</span><span style="color: black;">|</span>
    <span style="color: black;">/</span><span style="background-color: white; color: black;">&ensp;</span><span style="color: black;">'\'</span>
   <span style="background-color: yellow; color: black;">(</span><span style="color: black;">\_;/</span><span style="background-color: yellow; color: black;">)</span>
</pre>
      <div class="flex gap-3">
        <span class="text-accent-purple text-lg font-bold">name</span>
        <h1 class="text-lg text-main font-bold">Harindra Wahyu Arifudin</h1>
      </div>
      <div class="flex gap-3">
        <span class="text-accent-blue text-lg font-bold">role</span>
        <p class="text-lg text-main font-bold">Full Stack Web Developer.</p>
      </div>
    </div>
  </TerminalPanel>
</MainLayout>
