---
// import { Navbar } from "../components/Navbar";
import Navbar from "../components/Navbar.astro";
import MainLayout from "../layouts/MainLayout.astro";
import TerminalPanel from "../components/TerminalPanel.astro";
import Footer from "../components/Footer.astro";
import EverforestBg from "../assets/fog_forest_alt_2.webp";

const backgroundUrl = `url(${EverforestBg.src})`;
---

<MainLayout title="Harindra Wahyu" , description="This is home page">
  <Navbar />
  <section class="relative h-screen text-white flex flex-col">
    <div
      style={`
      background-image: ${backgroundUrl};
      background-size: cover;
      filter: blur(4px);
      `}
      class="absolute inset-0 flex flex-col items-center justify-center text-center px-4">
    </div>

    <div class="relative flex z-10 items-center justify-center">
      <TerminalPanel />
    </div>
  </section>
</MainLayout>
