---
import EverforestBg from "../assets/fog_forest_alt_2.webp";

const backgroundUrl = `url(${EverforestBg.src})`;
---

<div
  style={`
      background-image: ${backgroundUrl};
      background-size: cover;
      filter: blur(4px);
      `}
  class="floor absolute inset-0 z-0">
</div>
