<main class="relative justify-content-center pt-20 px-5">
  <div
    class="terminal-panel relative items-center h-130 max-w-7xl p-10 border-3 rounded-lg border-main bg-panel shadow-xl/10">
    <slot />
  </div>
</main>
