<div
  class="terminal-panel flex flex-col relative items-center py-50 border-12px bg-[--bg-panel]">
  <!-- Greeting -->
  <div class="text-center mb-2">
    <span id="typed" class="text-gray-400 text-2xl sm:text-xl md:text-2xl mb-4">
    </span>
  </div>

  <!-- Nama -->
  <h1 class="flex text-center font-bold text-white text-3xl sm:text-5xl">
    <span class="flex sm:text-5xl font-light text-gray-300 pr-3"> I'm </span>
    Harindra Wahyu
  </h1>

  <!-- Subtitle -->
  <p class="flex mt-2 text-center text-lg text-[#a0a0a0]">
    Full Stack Web Developer.
  </p>
</div>

<script>
  import Typed from "typed.js";

  new Typed("#typed", {
    strings: ["Assalamu'alaiakum,", "Hola,", "Hello,", "こんにちは,"],
    typeSpeed: 30,
    backSpeed: 50,
    loop: true,
  });
</script>
