---
import MainHead from "../components/MainHead.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en"></html>
<MainHead {title} {description} />

<body>
  <slot> Default Text</slot>
</body>
