---
import MainHead from "../components/MainHead.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en"></html>
<MainHead {title} {description} />

<body class="flex flex-col content-between duration-1000 min-h-100vh">
  <slot> Default Text</slot>
</body>
